<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Dashboard</h4></div>
      <table class="table">
        <thead>
          <tr>
            <th>
              <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Todays <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Tomorrows</a></li>
                <li><a href="#">This Weeks</a></li>
                <li><a href="#">This Month</a></li>
              </ul>
            </div>
            Tasks
          </th>
          <th></th>
          </tr>
        </thead>
      </table>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>Opportunities for the <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Todays <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Tomorrows</a></li>
                <li><a href="#">This Weeks</a></li>
                <li><a href="#">This Month</a></li>
              </ul>
            </div>
          </th>
            <th></th>
          </tr>
          <tr>
            <th>Forecast for the
              <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Month <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Week</a></li>
                <li><a href="#">Quarter</a></li>
                <li><a href="#">Year</a></li>
              </ul>
            </div>
          </th>
            <th></th>
          </tr>
        </thead>
      </table>
      <hr>
    <table class="table">
      <thead>
        <tr>
          <th>Todays <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Tasks</a></li>
            </ul>
          </div></th>
          </tr>
        <tr>
        <tr><th>Accounts Added:</th></tr>
        <tr><th>Emails Added:</th>
        </tr>

        </tr>
      </thead>
      <tbody>
        <!-- {{#each model as |opportunities|}}
            <tr>
              <th>{{#link-to 's.opportunities.opportunity' opportunity.id }}{{opportunity.title}}  {{/link-to}}</th>
              <th><th><p>{{opportunity.estClose}}</p></th></th>
              <th><p>{{opportunity.estClose}}</p></th>
              <th><p>{{opportunity.estAmt}}</p></th>
              <th><button class="btn rb-btn-info" {{action 'delete' vendor}}>delete</button></th>
            </tr>
        {{/each}} -->
      </tbody>
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Tasks</h4></div>
    <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Assigned To</th>
          <th>Due Date</th>
          <th>Urgency</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |tasks|}}
            <tr>
              <th>{{#link-to 's.vendors.vendor.tasks.task' task.id }}{{task.name}}  {{/link-to}}</th>
              <th><th><p>{{task.name}}</p></th></th>
              <th><p>{{task.description}}</p></th>
              <th><p>Third Property</p></th>
              <th><button class="btn rb-btn-info" {{action 'delete' vendor}}>delete</button></th>
            </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Opportunities</h4></div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Estimated Amount</th>
          <th>Estimated Close Date</th>
          <th>Stage</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |opportunities|}}
            <tr>
              <th>{{#link-to 's.opportunities.opportunity' opportunity.id }}{{opportunity.title}}  {{/link-to}}</th>
              <th><th><p>{{opportunity.estClose}}</p></th></th>
              <th><p>{{opportunity.estClose}}</p></th>
              <th><p>{{opportunity.estAmt}}</p></th>
              <th><button class="btn rb-btn-info" {{action 'delete' vendor}}>delete</button></th>
            </tr>
        {{/each}}
      </tbody>
    </table>
  </div>


  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>My Accounts</h4></div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Company</th>
        <th>State</th>
        <th>Ph #</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |vendor|}}
          <tr>
            <th>{{#link-to 's.vendors.vendor' vendor.id }}{{vendor.name}}  {{/link-to}}</th>
            <th><th><p>{{vendor.state}}</p></th></th>
            <th></th>
            <th></th>
            <th><button class="btn rb-btn-info" {{action 'delete' vendor}}>delete</button></th>
          </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>
<!--
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/242x200" alt="...">
      <div class="caption">
        <p>{{vendor.description}}</p>
        <p>{{vendor.address}}</p>
        <p>{{vendor.city}}</p>

        <p>{{vendor.zip}}</p>
        <p>{{vendor.phone}}</p>
        <p>{{vendor.email}}</p>
      </div>
      <p class="pad-left">

        <button class="btn rb-btn-info" {{action 'delete' vendor}}>delete</button>
      </p>
    </div>
  </div> -->
