<div class="col-md-9">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>My Accounts</h4></div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Company</th>
        <th>State</th>
        <th>Ph #</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |vendor|}}
          <tr>
            <th>{{#link-to 's.vendors.vendor' vendor.id }}{{vendor.name}}  {{/link-to}}</th>
            <th><th><p>{{vendor.state}}</p></th></th>
            <th></th>
            <th></th>
            <th><button class="btn rb-btn-info" {{action 'delete' vendor}}>delete</button></th>
          </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>
<!--
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/242x200" alt="...">
      <div class="caption">
        <p>{{vendor.description}}</p>
        <p>{{vendor.address}}</p>
        <p>{{vendor.city}}</p>

        <p>{{vendor.zip}}</p>
        <p>{{vendor.phone}}</p>
        <p>{{vendor.email}}</p>
      </div>
      <p class="pad-left">

        <button class="btn rb-btn-info" {{action 'delete' vendor}}>delete</button>
      </p>
    </div>
  </div> -->
