<div class="col-md-8 col-md-offset-2">
  <div class="blog-intro">
     <h1>{{s.posts.model.title}}</h1>
     <img src="{{model.imgOne}}" alt="profile image">
    <p>{{s.posts.post.intro}}</p>
  </div>
  <div class="blog-content">
    <p>{{post.body}}</p><br>
    <p>{{post.tldr}}</p>
  </div>
  <div class="blog-footer">
    <ul class="flex-container center">
      <li class="flex-item"><a href="">Like</a></li>
      <li class="flex-item"><a href="">Comment</a></li>
      <li class="flex-item"><a href="">Share</a></li>
    </ul>
    {{#each model as |tag|}}
    <span class="badge">
      {{model.tag}}
    </span>
    {{/each}}
    
  </div>
</div>
