
<div class="flex-container">
	{{#each model as |user|}}
		{{#link-to 's.users.user' user.id class="hopper-email-item"}}
		<div class="row">
			<div class="col-md-3">
				<img src="http://lorempixel.com/130/130/people/" alt="profile image">
			</div>
			<div class="col-md-9 white">
				<h1>{{user.fullName}}</h1>
				<span>{{user.tagline}}</span>
				<span>{{user.email}}</span>
			</div>
		</div>
		<hr class="white">
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<button type="button" name="button">View</button>
				<button type="button" name="button">Edit</button>
			</div>
		</div>
		{{/link-to}}
	{{/each}}
</div>



<!-- {{#charly-sheen}}{{/charly-sheen}} -->
<!-- {{link-to 's.users.user' user.id}} -->



<!-- <div class="row">
	{{#each model as |user|}}
		{{#link-to 's.users.user' user.id}}

		<div class="hex-flex-item">
			<div class="flex-top"></div>
			<div class="flex-body">
					<h4>{{user.firstName}} {{user.lastName}}</h4>
					<p>User Content Goes Here</p>
			</div>
			<div class="flex-bottom"></div>
		</div>
		{{/link-to}}
	{{/each}}
</div> -->
