	
	<div class="col-md-9">
	  <div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h4>My Accounts</h4></div>

	  <!-- Table -->
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Company</th>
	        <th>State</th>
	        <th>Ph #</th>
	        <th>Email</th>
	      </tr>
	    </thead>
	    <tbody>
	      {{#each model as |event|}}
	          <tr>
	            <th>{{#link-to 's.events.event' event.id }}{{event.title}}  {{/link-to}}</th>
	            <th><th><p>{{event.description}}</p></th></th>
	            <th></th>
	            <th></th>
	            <th><button class="btn rb-btn-info" {{action 'delete' event}}>delete</button></th>
	          </tr>
	      {{/each}}
	    </tbody>
	  </table>
	</div>
	</div>

<!--
<div class="row">
	<div class="col-md-3">
			<div class="list-group">
				{{#each model as |event|}}

			  {{#link-to 's.events.event' event.id class="list-group-item"}}
			    <h4 class="list-group-item-heading">{{event.title}}</h4>
			    <p class="list-group-item-text">{{event.body}}</p>
			  {{/link-to}}
				{{/each}}

			</div>
	</div>
	<div class="col-md-9">

	</div>

</div>
<div class="row">
	{{#each model as |event|}}
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="http://placehold.it/242x200" alt="...">
	      <div class="caption">
					<h4>{{event.title}}</h4>
					<p>{{event.body}}</p>
				</div>
				<p class="pad-left">
					{{#link-to 's.events.event' event.id class="btn btn-primary"}}View{{/link-to}}
					<button class="btn rb-btn-info" {{action 'delete' event}}>delete</button>
				</p>
	    </div>
	  </div>
  {{/each}}
</div>
{{#link-to 's.events.create'}}<div class="btn rb-btn-info">Create Event</div>{{/link-to}}
{{#link-to 's.events.index'}}<div class="btn rb-btn-info">View Events</div>{{/link-to}} -->
