<!-- <div class="post-banner">
    <h1 class="white pad-top">{{model.title}}</h1>
</div>
<p>
	{{#each model as |tag|}}
	<span class="badge">
		{{model.tag}}
	</span>
	{{/each}}
</p>
<p>{{model.body}}</p>
	{{#link-to 's.posts.edit' classNames="btn rb-btn-info"}}Edit{{/link-to}}&nbsp;
  <button class="btn rb-btn-info" {{action 'delete' post}}>Delete</button> -->


<div class="col-md-12">
    {{#unless isEditing}}
    <div class="blog-post">
      <div class="col-md-8 col-md-offset-2">
        <div class="blog-intro">
           <h1>{{model.title}}</h1>
           <!-- <img src="assets/images/{{model.imgOne}}" alt="profile image"> -->
          <p>{{model.intro}}</p>
        </div>
        <div class="blog-content">
          <p>{{model.body}}</p><br>
          <p>
            {{model.tldr}}
          </p>
        </div>
        <div class="blog-footer">
          <ul class="flex-container center">
            <li class="flex-item"><a href="">Like</a></li>
            <li class="flex-item"><a href="">Comment</a></li>
            <li class="flex-item"><a href="">Share</a></li>
          </ul>
          {{#each model as |tag|}}
          <span class="badge">
            {{model.tag}}
          </span>
          {{/each}}
        </div>
      </div>
    </div>
    {{else}}
      <form>
        <div class="form-group">
            <label for="identification">Post Title</label>
            {{input type="text" value=post.title class='form-control'}}
        </div>
        <!-- <div class="form-group">
            <label for="identification">Last Name</label>
            {{input type="text" value=post.lastName class='form-control'}}
        </div>
        <div class="form-group">
            <label for="identification">Tagline</label>
            {{input type="text" value=post.tagline class='form-control'}}
        </div>
        <div class="form-group">
            <label for="identification">Email</label>
            {{input type="text" value=post.email class='form-control'}}
        </div>
        <div class="form-group">
            <label for="identification">Website</label>
            {{input type="text" value=post.website class='form-control'}}
        </div> -->
      </form>
    {{/unless}}
  <!-- <div class="blog-post effect1">
    <div class="bg-wrapper-with-intrinsic-ratio">
        <img class="element-to-stretch" src="assets/images/{{model.bgCoverImg}}">
        <div class="overlay"></div>
    </div>
    <div class="blog-post-intro">
      <div class="col-md-8 col-md-offset-2">
        <h1>{{model.title}}</h1>
        <span>{{model.intro}}</span>
      </div>
    </div>
    <hr>
    <div class="blog-post-content">
      <div class="col-md-8 col-md-offset-2">
        <p>{{model.body}}</p>
        <ul class="flex-container center">
          <li class="flex-item"><img class="img-one" src="assets/images/{{model.imgOne}}"/></li>
          <li class="flex-item"><img class="img-two" src="assets/images/{{model.imgTwo}}"/></li>
          <li class="flex-item"><img class="img-three" src="assets/images/{{model.imgThree}}"/></li>
        </ul>
        <span>{{model.tldr}}</span>
      </div>
      <hr>
    </div>
    <div class="blog-post-footer">
      <div class="col-md-8 col-md-offset-2">
        {{#each model as |tag|}}
        <span class="badge">
          {{model.tag}}
        </span>
        {{/each}}
      </div>
    </div>
  </div> -->
</div>
