<div class="col-md-12">
  <div class="blog-post-header-img">
    <div class="wrapper-with-intrinsic-ratio">
      <img class="full-page-bg-3 element-to-stretch">
    </div>
  </div>
  <div class="blog-post-user-intro">
    {{user.firstName}}{{user.lastName}}
  </div>
  <div class="blog-post-content">
    {{model.title}}
    {{model.body}}
  </div>
</div>
{{outlet}}
