<div class="column-2">
  {{#each model.posts as |post|}}
    <div class="hex-flex-item effect1">
      <div class="flex-top"></div>
      <div class="flex-body">
          <h3>{{post.title}}</h3><br>
          <p>{{post.body}}</p>
      </div>
      <div class="flex-bottom"></div>
    </div>
  {{/each}}
</div>
<!--
{{#each model as |post|}}
		<tr>
			<th>{{#link-to 'blog.post' post.id }}{{post.title}}  {{/link-to}}</th>
			<th><th><p>{{post.description}}</p></th></th>
			<th></th>
			<th>{{#link-to 's.posts.edit' post classNames="btn rb-btn-info"}}edit{{/link-to}}&nbsp;
</th>
			<th><button class="btn rb-btn-info" {{action 'delete' post}}>delete</button></th>
		</tr>
{{/each}} -->

<!-- <div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading"><h4>My Posts</h4></div>

		<table class="table">
			<thead>
				<tr>
					<th>Company</th>
					<th>State</th>
					<th>Ph #</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				{{#each model as |post|}}
						<tr>
							<th>{{#link-to 'blog.post' post.id }}{{post.title}}  {{/link-to}}</th>
							<th><th><p>{{post.description}}</p></th></th>
							<th></th>
							<th>{{#link-to 's.posts.edit' post classNames="btn rb-btn-info"}}edit{{/link-to}}&nbsp;
</th>
							<th><button class="btn rb-btn-info" {{action 'delete' post}}>delete</button></th>
						</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div> -->
