

<div class="large-item">
  <ul>
    <li><img src="assets/images/telescope.jpg" class="profile"></li>
    <li><h1>{{model.fullName}}</h1></li>
    <li><h3>{{model.tagline}}</h3></li>
    <li>{{model.email}}</li>
    <li>{{model.website}}</li>
    <li><button class="btn rb-btn-info" {{action 'edit' user}}>Edit</button><button class="btn rb-btn-info" {{action 'delete' user}}>delete</button></li>
  </ul>

</div>

<!-- {{user-profile user=model}} -->
